@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700");

@font-face {
  font-family: "Circular";
  font-display: swap;
  src: url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0px 12px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  background: #7854F7;
  border-radius: 60px;
}

.btn span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0px 60px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 10px 20px;
}

.title {
  font-family: "Circular";
  font-style: normal;
  font-weight: bold;
  line-height: 127.27273%;
  font-size: calc(20px + (55 - 20) * ((100vw - 320px) / (1920 - 320)));
  text-align: center;
  color: #272D4E;
}

.subtitle {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 138.88889%;
  color: #94A2B3;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#b0caf8), color-stop(100%, rgba(229, 239, 255, 0.8)), to(rgba(229, 239, 255, 0)));
  background: -o-linear-gradient(top, #b0caf8 0%, rgba(229, 239, 255, 0.8) 100%, rgba(229, 239, 255, 0) 100%);
  background: linear-gradient(180deg, #b0caf8 0%, rgba(229, 239, 255, 0.8) 100%, rgba(229, 239, 255, 0) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #c0b6f5;
  padding: 50px;
  width: 100%;
  max-width: 450px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.popup__title {
  color: #fff;
  margin: 0px 0px 15px 0px;
}

.login-form__input {
  margin: 0px 0px 30px 0px;
}

.login-form__btn {
  height: 40px;
  background: #fff;
}

.login-form__btn span {
  color: #c0b6f5;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 55px;
}

._no-webp .header__logo{
  background: url(../img/icons/header/LOGO.png) 0 0 no-repeat; }

.header__logo {
  width: 169px;
  height: 35px;
  display: block;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu__list li {
  margin: 0px 40px 0px 0px;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__link {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #272D4E;
}

.menu__link:hover::after {
  left: 0;
  width: 100%;
}

.menu__link::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0px;
  height: 1px;
  bottom: -2px;
  background-color: #272D4E;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.registry-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registry-header__login {
  font-size: 18px;
  font-weight: 500;
  color: #272D4E;
}

.registry-header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 30px;
  font-size: 18px;
  font-weight: 500;
  background: #7854F7;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.registry-header__btn:hover {
  background: #b19ff3;
}

.registry-header__search {
  background: url(../img/icons/header/icon-search.svg) 0 0 no-repeat;
  width: 16px;
  height: 16px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.footer__copyright {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0px 20px 0px 0px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #272D4E;
}

.footer__copyright a {
  text-decoration: underline;
}

.footer__logo img {
  max-width: 100%;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer__item {
  margin: 0px 30px 0px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.build {
  position: relative;
  padding: 150px 20px 0px 0px;
}

.build__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#E5EFFF), color-stop(83.7%, rgba(229, 239, 255, 0.262661)), to(rgba(229, 239, 255, 0)));
  background: -o-linear-gradient(top, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
  background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);
}

.build__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  padding: 100px 0px 0px 6%;
}

.build__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 15px 0px 0px;
}

.build__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.content-build__title {
  font-family: "Circular";
  font-size: calc(24px + (85 - 24) * ((100vw - 320px) / (1920 - 320)));
  line-height: 111.76471%;
}

.content-build__subtitle {
  margin: 30px 0px;
}

.content-build__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  background: #7854F7;
  border-radius: 60px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-build__btn span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0px 60px;
}

.content-build__btn:hover {
  background: #b19ff3;
}

.images-build {
  position: relative;
}

.images-build__people img {
  position: absolute;
  width: 34%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  top: -20%;
  left: 10%;
  -webkit-box-shadow: 0px 18px 52.8537px rgba(116, 162, 236, 0.5);
          box-shadow: 0px 18px 52.8537px rgba(116, 162, 236, 0.5);
}

._no-webp .images-build__people:before{
  background: url(../img/main_block/grid_1.png) 0 0/100% no-repeat; }

.images-build__people:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 35%;
  top: 0;
  left: 1.5%;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.images-build__people:after {
  content: "s a l e";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: 12%;
  font-family: "Circular";
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 35px;
  position: absolute;
  color: #FFFFFF;
  background-color: #70C217;
  left: 50%;
  top: -5%;
}

.images-build__feet {
  text-align: right;
  border-radius: 20px;
  overflow: hidden;
}

.images-build__feet img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

._no-webp .images-build__feet:after{
  background: url(../img/main_block/grid_1.png) 0 0/100% no-repeat; }

.images-build__feet:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 25%;
  top: -23%;
  left: 50%;
}

._no-webp .images-build__feet:before{
  background: url(../img/main_block/grid_2.png) 0 0/100% no-repeat; }

.images-build__feet:before {
  content: "";
  position: absolute;
  width: 30%;
  height: 35%;
  bottom: -35%;
  left: 70%;
}

.images-build__panel img {
  position: absolute;
  width: 34%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  bottom: 0;
  left: 30%;
  bottom: -20%;
}

._no-webp .images-build__panel:before{
  background: url(../img/icons/cart.png) 0 0/100% no-repeat; }

.images-build__panel:before {
  content: "";
  position: absolute;
  width: 8.5%;
  height: 20%;
  bottom: 5%;
  left: 16%;
}

._no-webp .images-build__panel:after{
  background: url(../img/icons/safe.png) 0 0/100% no-repeat; }

.images-build__panel:after {
  content: "";
  position: absolute;
  width: 10%;
  height: 15%;
  bottom: -8%;
  left: 80%;
}

.commerce {
  padding: 150px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.commerce__title {
  margin: 0px 0px 55px 0px;
  font-size: calc(24px + (55 - 24) * ((100vw - 320px) / (1920 - 320)));
  line-height: 127.27273%;
}

.commerce__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -35px;
}

.commerce__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: left;
  padding: 0px 35px;
}

.commerce__column:last-child {
  margin: 0;
}

.column-commerce__img {
  -webkit-transform: translate3d(0px, 150px, 0px);
          transform: translate3d(0px, 150px, 0px);
  opacity: 0;
  position: relative;
  display: inline-block;
  width: 430px;
  height: auto;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.column-commerce__img._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column-commerce__img img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 18px 52.8537px rgba(116, 162, 236, 0.5);
          box-shadow: 0px 18px 52.8537px rgba(116, 162, 236, 0.5);
}

._no-webp .column-commerce__img:before{
  background: url(../img/Commerce/column_1/2.png) 0 30px/100% no-repeat; }

.column-commerce__img:before {
  content: "";
  position: absolute;
  left: -90px;
  width: 202px;
  height: 264px;
}

._no-webp .column-commerce__img:after{
  background: url(../img/Commerce/column_1/3.png) 0 0/100% no-repeat; }

.column-commerce__img:after {
  content: "";
  position: absolute;
  left: -30px;
  width: 68px;
  height: 48px;
}

._no-webp .column-commerce__img-2:before{
  background: url(../img/Commerce/column_2/2.png) 0 30px/100% no-repeat; }

.column-commerce__img-2:before {
  content: "";
  position: absolute;
  left: -70px;
  bottom: 0;
  width: 211px;
  height: 176px;
}

._no-webp .column-commerce__img-2:after{
  background: url(../img/Commerce/column_2/3.png) 0 0/100% no-repeat; }

.column-commerce__img-2:after {
  content: "";
  position: absolute;
  left: 30%;
  top: 0;
  width: 211px;
  height: 176px;
}

._no-webp .column-commerce__img-3:before{
  background: url(../img/Commerce/column_3/2.png) 0 30px/100% no-repeat; }

.column-commerce__img-3:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -90px;
  width: 211px;
  height: 176px;
}

._no-webp .column-commerce__img-3:after{
  background: url(../img/Commerce/column_3/3.png) 0 0/100% no-repeat; }

.column-commerce__img-3:after {
  content: "";
  position: absolute;
  left: 300px;
  top: 0;
  width: 211px;
  height: 176px;
}

.column-commerce__title {
  margin: 30px 0px 20px 0px;
  font-family: "Circular";
  font-weight: 700;
  color: #272D4E;
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: 128.57143%;
}

.column-commerce__link {
  display: inline-block;
  margin: 30px 0px 0px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #299EF3;
}

._no-webp .develop{
  background: url(../img/developer/bg.jpg) 0 0/100% no-repeat; }

.develop {
  position: relative;
  margin: 100px 0px 0px 0px;
}

._no-webp .develop:after{
  background: url(../img/developer/Union.png) 0 0/100% no-repeat; }

.develop:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.develop__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 50px 0px;
}

.develop__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.develop__column_i {
  -webkit-transform: translate3d(-150px, 0px, 0px);
          transform: translate3d(-150px, 0px, 0px);
  opacity: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  padding: 37% 0px 0px 0px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.develop__column_i._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.develop__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -41px;
  left: 0;
}

.develop__img img {
  max-width: 100%;
  border-radius: 20px;
}

.develop__text {
  margin: 0px 0px 0px 150px;
}

.text-develop {
  padding: 130px 0px 0px 0px;
}

.text-develop__title {
  margin: 10px 0px 0px 0px;
  font-family: "Circular";
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #FFFFFF;
  line-height: 125%;
}

.text-develop__subtitle {
  display: block;
  margin: 20px 0px 40px 0px;
  max-width: 480px;
}

.text-develop__btn {
  margin: 0px 0px 20px 0px;
  background: #70C217;
  width: 256px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text-develop__btn span {
  font-weight: 400;
}

.text-develop__btn:hover {
  background: #61b804;
}

.row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  text-align: right;
}

.row-bottom__title {
  margin: 10px 0px 0px 0px;
  font-family: "Circular";
  font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #FFFFFF;
  line-height: 125%;
}

.row-bottom__subtitle {
  display: block;
  margin: 20px 0px 40px 0px;
}

.row-bottom__btn {
  margin: 0px 0px 20px 0px;
  background: #70C217;
  width: 256px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.row-bottom__btn span {
  font-weight: 400;
}

.row-bottom__btn:hover {
  background: #61b804;
}

.column_image {
  -webkit-transform: translate3d(150px, 0px, 0px);
          transform: translate3d(150px, 0px, 0px);
  opacity: 0;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  padding: 37% 0px 0px 0px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.column_image._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column_image__img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.column_image__img img {
  max-width: 100%;
  border-radius: 20px;
}

.agencies {
  position: relative;
  margin: 0px 0px 100px 0px;
}

.agencies__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 240, 253, 0)), color-stop(14.32%, rgba(236, 240, 253, 0.53)), color-stop(45.83%, #ECF0FD), color-stop(84.33%, rgba(236, 240, 253, 0.43)), to(rgba(236, 240, 253, 0)));
  background: -o-linear-gradient(top, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
  background: linear-gradient(180deg, rgba(236, 240, 253, 0) 0%, rgba(236, 240, 253, 0.53) 14.32%, #ECF0FD 45.83%, rgba(236, 240, 253, 0.43) 84.33%, rgba(236, 240, 253, 0) 100%);
}

.agencies__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.agencies__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.column-agencies1 {
  text-align: right;
  padding: 50px 0px 0px 0px;
}

._no-webp .column-agencies1::after{
  background: url(../img/icons/Agencies/dott_green.png) 0 0/100% no-repeat; }

.column-agencies1::after {
  content: "";
  position: absolute;
  width: 472px;
  height: 213px;
  left: 140px;
  bottom: 70px;
}

.column-agencies1__img1 {
  -webkit-transform: translate3d(-200px, 0px, 0px);
          transform: translate3d(-200px, 0px, 0px);
  opacity: 0;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
          box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.column-agencies1__img1._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column-agencies1__img2 {
  display: block;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  margin: 80px 0px 250px 0px;
  -webkit-box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
          box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
  -webkit-transform: translate3d(-300px, 0px, 0px);
          transform: translate3d(-300px, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.column-agencies1__img2._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column-agencies1__img3 {
  position: relative;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
          box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
  z-index: 10;
  -webkit-transform: translate3d(-300px, 0px, 0px);
          transform: translate3d(-300px, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.column-agencies1__img3._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column-slider {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 30px 0px 30px;
  z-index: 10;
}

.column-slider__title {
  margin: 0px 0px 100px 0px;
}

.column-slider__body {
  max-width: 730px;
  margin: 0 auto;
}

.column-slider__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 730px;
  height: 390px;
  background-color: #fff;
  border-radius: 20px;
}

.column-slider__slide::before {
  content: "";
  position: absolute;
  background: url(../img/icons/Agencies/quotation.svg) 0 0/100% no-repeat;
  width: 30%;
  height: 42%;
  top: 30%;
  right: 35%;
}

.column-slider__slide p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  width: 97%;
  height: 92.5%;
  font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (1920 - 320)));
  line-height: 150%;
  text-align: center;
  color: #94A2B3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.column-slider__arrows {
  position: relative;
}

._no-webp .column-slider__arrow{
  background: url(../img/icons/Agencies/arrow.png) 0 0 no-repeat; }

.column-slider__arrow {
  position: absolute;
  width: 32px;
  height: 17px;
}

.column-slider__arrow-prev {
  bottom: -50px;
  right: 150px;
}

._no-webp .column-slider__arrow-prev:active{
  background: url(../img/icons/Agencies/arrow_active.png) 0 0 no-repeat; }

.column-slider__arrow-prev:active {
  width: 52px;
  height: 25px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.column-slider__arrow-next {
  bottom: -50px;
  right: 80px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

._no-webp .column-slider__arrow-next:active{
  background: url(../img/icons/Agencies/arrow_active.png) 0 0 no-repeat; }

.column-slider__arrow-next:active {
  width: 52px;
  height: 25px;
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.column-agencies2 {
  position: relative;
  padding: 50px 0px 0px 0px;
  text-align: right;
}

._no-webp .column-agencies2:after{
  background: url(../img/icons/Agencies/dott_red.png) 0 0/100% no-repeat; }

.column-agencies2:after {
  content: "";
  position: absolute;
  width: 472px;
  height: 213px;
  left: -250px;
  top: 210px;
}

.column-agencies2__img4 {
  display: block;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  margin: 0px 0px 150px 0px;
  -webkit-box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
          box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
  -webkit-transform: translate3d(200px, 0px, 0px);
          transform: translate3d(200px, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.column-agencies2__img4._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.column-agencies2__img5 {
  position: relative;
  width: 89px;
  height: 89px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
          box-shadow: 0 10px 10px rgba(67, 48, 48, 0.2);
  z-index: 10;
  -webkit-transform: translate3d(200px, 0px, 0px);
          transform: translate3d(200px, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.column-agencies2__img5._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.support__title {
  margin: 0px 0px 30px 0px;
}

.support__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 660px;
}

.support__image {
  position: relative;
  text-align: center;
  -webkit-transform: translate3d(0px, 150px, 0px);
          transform: translate3d(0px, 150px, 0px);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.support__image._active {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.support__image img {
  max-width: 100%;
}

.support__image:before {
  content: "";
  position: absolute;
  top: 100px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 4px solid #FFBA49;
}

.support__image:after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  border: 4px solid #FFBA49;
}

.support__content {
  position: relative;
  padding: 0px 0px 30px 0px;
}

.support__content::before {
  content: "";
  position: absolute;
  top: 60px;
  right: 100px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 4px solid #FFBA49;
}

.support__content:after {
  content: "";
  position: absolute;
  left: 100px;
  top: -30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #FFBA49;
}

.content-support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5F37EF;
  height: 260px;
  padding: 0px 12px;
}

.content-support__text {
  max-width: 900px;
  font-weight: 500;
  color: #fff;
  line-height: 144.44444%;
  font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.content-support__text span {
  font-weight: 400;
}

.content-support__btn {
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #fff;
  font-size: 18px;
  border: 2px solid #FFFFFF;
  padding: 25px 45px;
  border-radius: 60px;
  margin: 0px 0px 0px 45px;
}

.content-support__btn:hover {
  background-color: #4416e9;
}

.info {
  background-color: #7854F7;
}

.top-info {
  padding: 45px 0px 55px 0px;
  border-bottom: 1px solid #9A7DFF;
}

.top-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 100px 0px;
}

.top-info__item {
  margin: 0px 15px 0px 0px;
}

.top-info__item img {
  max-width: 100%;
}

.top-info__footer {
  text-align: center;
}

.top-info__footer img {
  max-width: 100%;
}

.bottom-info {
  padding: 35px 0;
}

.bottom-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom-info__column {
  margin: 0px 25px 20px 0px;
}

.bottom-info__column:last-child {
  margin: 0px 0px 20px 0px;
}

.bottom-info__name {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bottom-info__name:hover {
  color: #beb5b5;
}

.bottom-info__item {
  display: block;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}

.bottom-info__item:hover {
  color: #beb5b5;
}

@media (max-width: 1940px) {
  .row-bottom__column {
    padding-left: calc(10px + (393 - 10) * ((100vw - 320px) / (1940 - 320)));
  }

  .top-info__header {
    margin-bottom: calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320)));
  }
}

@media (max-width: 1920px) {
  .images-build__people:after {
    font-size: calc(7px + (19 - 7) * ((100vw - 320px) / (1840 - 320)));
  }
}

@media (max-width: 1800px) {
  .column-slider__title {
    margin-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 1660px) {
  ._no-webp .develop{
    background: url(../img/developer/bg.jpg) 0 0/110% no-repeat; }
}

@media (max-width: 1600px) {
  .commerce__body {
    margin: 0px -15px;
  }

  .commerce__column {
    padding: 0px 15px;
    text-align: center;
  }
}

@media (max-width: 1530px) {
  ._no-webp .develop{
    background: url(../img/developer/bg.jpg) 0 0/120% no-repeat; }
}

@media (max-width: 1500px) {
  .commerce__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34%;
            flex: 0 1 34%;
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 1470px) {
  .support__image:before,
  .support__image:after {
    display: none;
  }

  .support__content:before,
  .support__content:after {
    display: none;
  }
}

@media (max-width: 1450px) {
  .commerce {
    margin: 0px 20px 60px 20px;
  }

  .text-develop {
    padding: 70px 0px 0px 0px;
  }
}

@media (max-width: 1400px) {
  .content-build__btn {
    height: 60px;
  }

  .content-build__btn span {
    font-size: 16px;
    padding: 0px 45px;
  }

  .text-develop__btn {
    height: 60px;
    width: 256px;
  }

  .text-develop__btn span {
    font-size: 16px;
  }

  .row-bottom__btn {
    height: 60px;
    width: 256px;
  }

  .row-bottom__btn span {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .text-develop__subtitle {
    max-width: none;
  }

  .row-bottom__subtitle {
    max-width: none;
  }
}

@media (max-width: 1160px) {
  ._no-webp .develop{
    background: url(../img/developer/bg.jpg) 0 0/130% no-repeat; }
}

@media (max-width: 1150px) {
  .header__content {
    padding: 40px 15px;
  }

  .menu__list li {
    margin: 0px 25px 0px 0px;
  }

  .menu__list li:last-child {
    margin: 0;
  }
}

@media (max-width: 1080px) {
  .column-agencies1::after {
    display: none;
  }

  .column-agencies2:after {
    display: none;
  }

  .bottom-info {
    padding: 20px 0;
  }
}

@media (max-width: 1050px) {
  .commerce__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
    margin: 0px 0px 80px 0px;
  }

  .text-develop {
    padding: 15px 0px 0px 0px;
  }
}

@media (max-width: 991.98px) {
  .header__content {
    padding: 40px 55px;
  }

  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#b0caf8), color-stop(100%, rgba(229, 239, 255, 0.8)), to(rgba(229, 239, 255, 0)));
    background: -o-linear-gradient(top, #b0caf8 0%, rgba(229, 239, 255, 0.8) 100%, rgba(229, 239, 255, 0) 100%);
    background: linear-gradient(180deg, #b0caf8 0%, rgba(229, 239, 255, 0.8) 100%, rgba(229, 239, 255, 0) 100%);
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body._active {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }

  .menu__list {
    display: block;
    text-align: center;
    padding: 60px 0px 0px 0px;
  }

  .menu__list li {
    margin: 0px 0px 35px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7854F7;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .build__body {
    display: block;
    padding: 20px 0px 0px 6%;
  }

  .build__body {
    padding: 0px 0px 0px 6%;
  }

  .build__content {
    display: block;
    padding: 0px 0px 150px 0px;
  }
}

@media (max-width: 980px) {
  .column-agencies1 {
    display: none;
  }

  .column-slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .column-agencies2 {
    display: none;
  }

  .content-support {
    height: 160px;
  }

  .content-support__btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .develop__text {
    margin: 0px 0px 0px 100px;
  }
}

@media (max-width: 920px) {
  .text-develop__subtitle {
    margin: 15px 0px 15px 0px;
  }

  .row-bottom__subtitle {
    margin: 15px 0px 15px 0px;
  }
}

@media (max-width: 900px) {
  .develop__row {
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 880px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 15px 0px;
  }

  .footer__copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
  }

  .footer__logo {
    margin: 20px 0px;
  }

  .social-footer__item:last-child {
    margin: 0;
  }
}

@media (max-width: 870px) {
  .develop__row {
    margin: 0px 0px 40px 0px;
  }

  .row-bottom__column {
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .commerce__title {
    margin: 0px 0px 35px 0px;
  }

  .develop:after {
    display: none;
  }

  ._no-webp .develop{
    background: url(../img/developer/bg.jpg) 0 0/600% no-repeat; }

  .develop__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .develop__img {
    display: block;
    text-align: center;
  }

  .develop__text {
    margin: 35% 0px 0px 0px;
    text-align: center;
  }

  .row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .row-bottom__text {
    margin: 42% 0px 0px 0px;
    text-align: center;
  }

  .column_image__img {
    display: block;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .support__title {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 767.98px) {
  .top-info__header {
    display: block;
    text-align: center;
  }

  .bottom-info__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bottom-info__name {
    line-height: 36px;
  }
}

@media (max-width: 750px) {
  .row-bottom__text {
    margin: 45% 0px 0px 0px;
  }
}

@media (max-width: 720px) {
  .row-bottom__text {
    margin: 47% 0px 0px 0px;
  }
}

@media (max-width: 700px) {
  .content-build__btn {
    height: 45px;
  }

  .content-build__btn span {
    font-size: 14px;
    padding: 0px 30px;
  }

  .develop__img img {
    max-width: 60%;
  }

  .text-develop__btn {
    height: 45px;
    width: 180px;
  }

  .text-develop__btn span {
    font-size: 12px;
  }

  .row-bottom__btn {
    height: 45px;
    width: 180px;
  }

  .row-bottom__btn span {
    font-size: 12px;
  }

  .column_image__img img {
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  .column-slider__slide {
    max-height: 300px;
  }
}

@media (max-width: 580px) {
  .column-commerce__img img {
    width: 280px;
    height: auto;
  }

  .column-commerce__img:before {
    display: none;
  }

  .column-commerce__img:after {
    display: none;
  }

  .column-commerce__title {
    margin: 20px 0px 10px 0px;
  }

  .column-commerce__link {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 570px) {
  .header__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .menu__list {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 550px) {
  .build__content {
    padding: 0px 0px 90px 0px;
  }

  .content-build__subtitle {
    margin: 20px 0px;
  }
}

@media (max-width: 500px) {
  .develop__text {
    margin: 30% 0px 0px 0px;
  }

  .content-support {
    height: 180px;
    display: block;
    text-align: center;
  }

  .content-support__text {
    display: block;
    padding: 20px 0px 0px 0px;
  }

  .content-support__btn {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 470px) {
  .column-commerce__img {
    width: 280px;
  }
}

@media (max-width: 460px) {
  .footer__content {
    height: 150px;
  }

  .footer__copyright a {
    display: block;
  }
}

@media (max-width: 400px) {
  .registry-header__btn {
    font-size: 14px;
    margin: 0px 20px;
  }

  .commerce {
    padding-top: 100px;
  }

  .develop__text {
    margin: 27% 0px 0px 0px;
  }
}

._webp .header__logo{ background: url(../img/icons/header/LOGO.webp) 0 0 no-repeat; }

._webp .images-build__people:before{ background: url(../img/main_block/grid_1.webp) 0 0/100% no-repeat; }

._webp .images-build__feet:after{ background: url(../img/main_block/grid_1.webp) 0 0/100% no-repeat; }

._webp .images-build__feet:before{ background: url(../img/main_block/grid_2.webp) 0 0/100% no-repeat; }

._webp .images-build__panel:before{ background: url(../img/icons/cart.webp) 0 0/100% no-repeat; }

._webp .images-build__panel:after{ background: url(../img/icons/safe.webp) 0 0/100% no-repeat; }

._webp .column-commerce__img:before{ background: url(../img/Commerce/column_1/2.webp) 0 30px/100% no-repeat; }

._webp .column-commerce__img:after{ background: url(../img/Commerce/column_1/3.webp) 0 0/100% no-repeat; }

._webp .column-commerce__img-2:before{ background: url(../img/Commerce/column_2/2.webp) 0 30px/100% no-repeat; }

._webp .column-commerce__img-2:after{ background: url(../img/Commerce/column_2/3.webp) 0 0/100% no-repeat; }

._webp .column-commerce__img-3:before{ background: url(../img/Commerce/column_3/2.webp) 0 30px/100% no-repeat; }

._webp .column-commerce__img-3:after{ background: url(../img/Commerce/column_3/3.webp) 0 0/100% no-repeat; }

._webp .develop{ background: url(../img/developer/bg.webp) 0 0/100% no-repeat; }

._webp .develop:after{ background: url(../img/developer/Union.webp) 0 0/100% no-repeat; }

._webp .column-agencies1::after{ background: url(../img/icons/Agencies/dott_green.webp) 0 0/100% no-repeat; }

._webp .column-slider__arrow{ background: url(../img/icons/Agencies/arrow.webp) 0 0 no-repeat; }

._webp .column-slider__arrow-prev:active{ background: url(../img/icons/Agencies/arrow_active.webp) 0 0 no-repeat; }

._webp .column-slider__arrow-next:active{ background: url(../img/icons/Agencies/arrow_active.webp) 0 0 no-repeat; }

._webp .column-agencies2:after{ background: url(../img/icons/Agencies/dott_red.webp) 0 0/100% no-repeat; }

@media (max-width: 1660px){

  ._webp .develop{ background: url(../img/developer/bg.webp) 0 0/110% no-repeat; }
}

@media (max-width: 1530px){

  ._webp .develop{ background: url(../img/developer/bg.webp) 0 0/120% no-repeat; }
}

@media (max-width: 1160px){

  ._webp .develop{ background: url(../img/developer/bg.webp) 0 0/130% no-repeat; }
}

@media (max-width: 800px){

  ._webp .develop{ background: url(../img/developer/bg.webp) 0 0/600% no-repeat; }
}
